<!DOCTYPE html>
<html lang="en">
<head>

    <% include partials/pages/head.ejs %>

</head>

<body>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">

    <% include partials/pages/navbar.ejs %>
</nav>

<div class="raysContainer">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
            <form class="well form-horizontal" enctype = "multipart/form-data" action=' /manage/<%= items[0].id %>/edit' method="post" id="add_item_form"
                  style="border: 1px solid #bdbdbd !important;">
                <div class="row" style="padding: 50px;">
                    <div class="media">


                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 "
                             style="margin: 0px !important; padding: 0px !important;">


                            <div class="media-left">
                                <a href="#" class="thumbnail" style="width: 300px;">
                                    <img alt="64x64" class="media-object"
                                         data-src="holder.js/64x64"
                                         style="width: 300px; height: 300px;"
                                         src=<%= '/files/' + items[0].image %>
                                         data-holder-rendered="true"> </a>

                            </div>
                            <!-- Adding Image -->
                            <div class="form-group">
                                <h4 style="padding-bottom: 5px;">Add Image</h4>
                                <div class="input-group">
                                    <label class="input-group-btn">
                                <span class="btn btn-primary">
                                    Browse&hellip; <input type="file" name="imageFile" style="display: none;" multiple>
                                </span>
                                    </label>
                                    <input type="text" class="form-control" name="ItemImage" style="width: 75%;">
                                </div>

                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 "
                             style="margin: 0px !important; padding: 0px !important;">

                            <div class="media-body">

                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">Title</span>
                                            <input name="ItemTitle" placeholder="Item Title" class="form-control"
                                                   type="text" value='<%= items[0].item_name %>'>
                                        </div>
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">Information</span>
                                            <input name="ItemInfo" placeholder="Item Information" class="form-control"
                                                   type="text" value='<%= items[0].location %>'>
                                        </div>
                                    </div>
                                    <!-- Text area -->
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">Content</span>
                                            <textarea class="form-control contentTextArea" name="ItemContent"
                                                      placeholder="Item Content" class="contactTextArea"
                                                      style="margin: 0px; height: 204px; width: 100%px; z-index: 3; position: relative; line-height: 20px; font-size: 14px; transition: none; max-width: 405px !important;"><%= items[0].description %></textarea>
                                        </div>
                                    </div>
                                    <!-- Category area -->
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">Category</span>
                                            <select class="form-control" name="ItemCategory">
                                                <% for (var i = 0; i < data.length; i++) { %>
                                                <% if(items[0].category_id == i + 1){ %>
                                                <option selected="selected"><a><%= data[i].title %></a></option>
                                                <% } else { %>
                                                <option><a><%= data[i].title %></a></option>
                                                <% } %>
                                                <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- META DATA -->
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">Meta data</span>
                                            <textarea class="form-control contentTextArea" name="ItemData"
                                                      placeholder="Item Content" class="contactTextArea"
                                                      style="margin: 0px; height: 204px; width: 100%px; z-index: 3; position: relative; line-height: 20px; font-size: 14px; transition: none; max-width: 405px !important;"><%= items[0].metadata %></textarea>
                                        </div>
                                    </div>

                                    <input type="hidden" id="anything" name="RemoveList" value="empty">

                                    <!-- Adding Sound -->
                                    <div class="add-form-group">
                                        <h4 style="padding-bottom: 5px;">Add Sound</h4>
                                        <div class="input-group">
                                            <label class="input-group-btn">
                                <span class="btn btn-primary inputTitle">
                                    Browse&hellip;
                                    <input type="file" name="audioFile" style="display: none;" multiple>
                                </span>
                                            </label>
                                            <input type="text" class="form-control" name="ItemAudio">
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-11">
                                            <% for (var i = 0; i < audios.length; i++) { %>
                                            <audio style="width: 100%; margin-top: 20px;" controls="controls"
                                                   preload="metadata" id="ItemAudio<%= audios[i].id %>">
                                                <source src=<%= '/files/' + audios[i].audio_location %> type="audio/mp4"
                                                        ;
                                                        codecs="avc1.42E01E, mp4a.40.2"/>
                                                No HTML5 audio playback capabilities.
                                            </audio>
                                            <button type="button" class="btn btn-danger"
                                                    id="2ItemAudio<%= audios[i].id %>"
                                                    onclick="removeAudio(<%= audios[i].id %>)">Remove
                                            </button>
                                            <% } %>
                                        </div>


                                        <!-- Button -->
                                        <div class="form-group">
                                            <label class="control-label"></label>
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-warning" style="margin-top: 20px">Send</button>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">

        </div>
    </div>

</div> <!-- /container -->

<!-- <div class="raysContainer navbar-fixed-bottom">
    <% include partials/pages/footer.ejs %>
</div>  -->
<div class="raysContainer">
    <% include partials/pages/footer.ejs %>
</div>
<!-- /container -->

<% include partials/pages/scripts.ejs %>
<script>
    var items = "";

    function removeAudio(id){
        items = items + id + ",";
        var a = document.getElementById("anything");
        a.setAttribute('value',  items);
        $("#ItemAudio" + id).remove();
        $("#2ItemAudio" + id).remove();
    }


    $(function () {

        // We can attach the `fileselect` event to all file inputs on the page
        $(document).on('change', ':file', function () {
            var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        // We can watch for our custom `fileselect` event like this
        $(document).ready(function () {
            $(':file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
        });

    });
</script>

</body>
</html>