<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en">
<head>

    <% include partials/pages/head.ejs %>

</head>

<body>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <% include partials/pages/topNav.ejs %>
</nav>


<div class="raysContainer">

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">


            <div class="alert alert-danger" style="overflow: scroll;" role="alert"><%= error.stack %></div>
            <div class="alert alert-danger" style="overflow: scroll;" role="alert"> <%= error.status %></div>
            <div class="alert alert-danger" style="overflow: scroll;" role="alert"><%= message %></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

        </div>
    </div>

</div> <!-- /container -->


<div class="raysContainer navbar-fixed-bottom">
    <% include partials/pages/footer.ejs %>
</div> <!-- /container -->

<% include partials/pages/scripts.ejs %>

</body>
</html>
=======
<html>
<h1><%= message %> </h1>
<h2><%= error.status %> </h2>
<pre><%= error.stack %> </pre>
>>>>>>> f89dd63dde9c85f10413fe6974a8eda24cf607c3
